<h1 class="display-5 text-center text-light">Carrito</h1>
{{#if error}}
<h3 class="text-center">{{error}}</h3>
<h6 class="text-light">Try Another Cart</h6>
{{else}}
<h3 class="text-center text-light">Número: {{_id}}</h3>
<h3 class="text-center">id: {{selCart._id}}</h3>
<br>
<a class="btn boton" href="#" onClick="history.go(-1)">Volver</a>
<br>
<br>
<table class="table table-dark table-striped table-hover">
    <tr>
        <td ><strong>Producto</strong></td>
        <td ><strong>Cantidad</strong></td>
    </tr>
    
    {{#each products}}
        <tr>
           
       
            <td> <a class="detalle" href="/api/products/{{this.product._id}}">{{this.product.title}} {{this.product.description}}</a></td>
            <td class="detalle">{{this.quantity}}</td>
            <td><button class="btn btn-danger" type="button" name="removeFromCart" id="{{product._id}}">Eliminar</button></td>    
            
        </tr>
    {{/each}}  

</table>
{{/if}}